.login
    background-attachment: fixed
    background-image: url("../../assets/images/login-bg.jpg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    padding: 3.2rem

.login .header
    align-items: center
    display: flex
    justify-content: space-between

    > .title
        color: #00264C
        font-size: 1.4rem
        font-weight: 600

.login .form
    margin-top: 2.4rem
    > .input-group
        display: flex
        flex-direction: column
        &:not(:last-child)
            margin-bottom: 1.6rem
        > .label
            margin-bottom: .8rem
        > .input
            width: 100%
    > .btn:first-of-type
        margin-top: 1.6rem
