.btn
    border: none
    border-radius: .4rem
    box-shadow: 0 1px 2px 1px rgba(#212121, .24)
    font-size: 1.4rem
    line-height: 156%
    padding: .8rem 1.6rem
    text-shadow: 0 1px 2px rgba(#212121, .24)
    width: 100%

.btn.-primary
    background-color: #00264C
    color: #fff

.btn.-transparent-primary
    background-color: transparent
    color: #00264C
    box-shadow: none
