.input
    background-color: rgba(#ededed, .88)
    border: 0
    border-radius: .4rem
    box-shadow: 0 1px 2px 1px rgba(#212121, .24)
    font-size: 1.6rem
    padding: .8rem 2.4rem .8rem 1.6rem
    &::placeholder
        color: rgba(#212121, .64)
